.header {
  text-transform: uppercase;
  color: #fff;

  &.subscreen {
    font-family: $header75Bold;
    font-size: 4rem;

    letter-spacing: -0.05rem;
    font-weight: 800;
  }

  &.general {
    font-family: $header65Medium;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }

  &.tooltip {
    font-family: $header65Medium;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
  }

  &.tracked-title {
    font-family: $header65Medium;
    font-size: 2.5rem;
    letter-spacing: 1rem;
  }
}
