$headerTextColor: #fff;
$alternateHeaderColor: #fcedd3;
$textColor: #b6bbb7;

$generalBodyCopy: "Neue Haas Grotesk Display Pro 55 Roman", "Helvetica";

$header75Bold: "Neue Haas Grotesk Display Pro 75 Bold", "Helvetica";
$header65Medium: "Neue Haas Grotesk Display Pro 65 Medium", "Helvetica";
$header56Italic: "Neue Haas Grotesk Display Pro 56 Roman Italic", "Helvetica";
$header55Roman: "Neue Haas Grotesk Display Pro 55 Roman", "Helvetica";
