@import "./_variables.scss";

* {
  font-family: $generalBodyCopy;
  letter-spacing: 0.01rem;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: $textColor;
  font-size: 1rem;
}

.destiny {
  @import "./components/checkbox/checkbox.scss";
  @import "./components/radio.scss";
  @import "./components/hr.scss";
  @import "./components/headers.scss";
}
